.footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-links {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #00ff00; /* Change to green on hover */
  }
  